body{
    background-image: url("../img/blue_bg.png");
    background-color: rgb(165, 165, 165);
    color: black;
    font-family: initial;
    font-weight: bold;
}
.fo-accordion{
    padding:0%;
}
.dynamicCheckbox{
    display: inline-block;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    padding-left: 42%;
    width: 57%;
}
/*Mostly Responsive*/
@media screen and (max-width:425px) {
    .dynamicCheckbox{
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-appearance: none;
   }
    .custom-select {
        display: inline-block;
        width: 45%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-appearance: none;
   }
    .age{
        width: 100%;
   }
    #appendspace{
        display: inherit;
   }
    .no-width{
        width: 60px;
   }
    .parallax {
       /* The image used */
        background-image: url("../img/blue_bg.png");
       /* Set a specific height */
        height: 500px;
       /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(40, 80, 80);
        transition:1s;
   }
    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: teal;
        border-radius: 12px;
   }
    .custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
        color: black;
        font-size: 4vw;
   }
    .btnback{
        left:3%;
        position: absolute;
        color: white;
   }
    .backicon{
        font-size: 7vw;
   }
    .submit-btn{
        margin-top: 30px;
   }
    .parallax2 {
       /* The image used */
        background-image: url("../img/blue_bg.png");
        border-top: blue solid 0.9px;
       /* Set a specific height */
        height: 500px;
       /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(13, 59, 59);
   }
    #headingOne{
        background-image: url("../img/blue_hd.png");
        background-size: cover;
        background-position: center;
        background-color: rgb(40, 80, 80);
        top:0%;
        border-bottom: blue solid 2px;
        position: sticky;
        width: 100%;
   }
    .registerheader{
        font-size: 8vw;
        color: white;
   }
    #headingThree{
        padding: 0%;
   }
    h5{
        font-size:5vw;
   }
    .btntext{
        width: 80px;
        height: 60px;
        background: url("../img/down-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.4;
        -webkit-animation-name: btntranform;
        -webkit-animation-duration: 4s;
        animation-name: btntranform;
        animation-duration: 8s;
        background-color: blue;
        border-radius: 10px;
        transition-duration: 4s;
        -webkit-transition-duration: 4s;
   }
    @-webkit-keyframes btntranform {
        0% {
           -webkit-transform: rotateX(-360deg)
       }
        25%{
           -webkit-transform: rotateY(360deg)
       }
        75%{
           -webkit-transform: rotateY(-360deg)
       }
        100% {
           -webkit-transform: rotateX(360deg)
       }
   }
   /* Standard syntax */
    @keyframes btntranform {
        0% {
           transform: rotateX(-360deg);
       }
        25%{
           transform: rotateY(360deg);
       }
        75%{
           transform: rotateY(-360deg);
       }
        100% {
           transform: rotateX(360deg);
       }
   }
    .btn-link, .btn-link:hover, .btn-link:focus{
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    .splashheader{
        font-size: 7vw;
        border-bottom: solid red 5px;
        background-image: url("../img/blue_bg.png");
        background-size: cover;
        background-color: darkslategrey;
        color:white;
   }
   .content-header{
    font-size: 10vw;
    color:white;
    background-color: dimgray;
   }
   .content-text{
    font-size: 5vw;
    color:white;
   
   }
   .card-style{
       background-color: darkslategrey;
       border-radius: 20px;
       box-shadow: 10px 10px grey;
       opacity: 0.9;
   }
   .rsvp{
    color: maroon;
    text-decoration: none;
    background-color: transparent;
    font-size: 9vw;
    font-style: italic;
   }
    .eohsplash{
        height: 100%;
        width:100%;
   }
}
/*Mostly Responsive*/
@media screen and (max-width:768px) and (min-width:425px) {
    .content-header{
        font-size: 10vw;
        color:white;
        background-color: dimgray;
       }
       .content-text{
        font-size: 5vw;
        color:white;
       
       }
       .card-style{
           background-color: darkslategrey;
           border-radius: 20px;
           box-shadow: 10px 10px grey;
           opacity: 0.9;
       }
       .rsvp{
        color: maroon;
        text-decoration: none;
        background-color: transparent;
        font-size: 9vw;
        font-style: italic;
       }
    .no-width{
        width: 60px;
   }
    .parallax {
       /* The image used */
        background-image: url("../img/blue_bg.png");
       /* Set a specific height */
        height: 500px;
       /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(40, 80, 80);
        transition:1s;
   }
    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: teal;
        border-radius: 12px;
   }
    .custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
        color: black;
        font-size: 4vw;
   }
    .btnback{
        left:3%;
        position: absolute;
        color: white;
   }
    .backicon{
        font-size: 7vw;
   }
    .submit-btn{
        margin-top: 30px;
   }
    .parallax2 {
       /* The image used */
        background-image: url("../img/blue_bg.png");
        border-top: blue solid 0.9px;
       /* Set a specific height */
        height: 500px;
       /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(13, 59, 59);
   }
    #headingOne{
        background-image: url("../img/blue_hd.png");
        background-size: cover;
        background-position: center;
        background-color: rgb(40, 80, 80);
        top:0%;
        border-bottom: blue solid 2px;
        position: sticky;
        width: 100%;
   }
    #headingThree{
        padding: 0%;
   }
    h5{
        font-size:5vw;
   }
    .btntext{
        width: 100px;
        height: 80px;
        background: url("../img/down-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.3;
        -webkit-animation-name: btntranform;
        -webkit-animation-duration: 4s;
        animation-name: btntranform;
        animation-duration: 8s;
        background-color: blue;
        border-radius: 20px;
        transition-duration: 4s;
        -webkit-transition-duration: 4s;
   }
    @-webkit-keyframes btntranform {
        0% {
           -webkit-transform: rotateX(-360deg)
       }
        25%{
           -webkit-transform: rotateY(360deg)
       }
        75%{
           -webkit-transform: rotateY(-360deg)
       }
        100% {
           -webkit-transform: rotateX(360deg)
       }
   }
   /* Standard syntax */
    @keyframes btntranform {
        0% {
           transform: rotateX(-360deg);
       }
        25%{
           transform: rotateY(360deg);
       }
        75%{
           transform: rotateY(-360deg);
       }
        100% {
           transform: rotateX(360deg);
       }
   }
    .btn-link, .btn-link:hover, .btn-link:focus{
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    .splashheader{
        border-bottom: solid red 5px;
        background-image: url("../img/blue_bg.png");
        background-size: cover;
        background-color: darkslategrey;
        color:white;
        font-size: 4vw;
   }
    .eohsplash{
        height: 100%;
        width:100%;
   }
    .dynamicCheckbox{
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-appearance: none;
   }
}

@media screen and (max-width:800px) and (max-height:773px) and (min-width:768px)
{
    
        .kidlabel{
            font-size: 2vw;
        }
        .content-header{
            font-size: 6vw;
            color:white;
            background-color: dimgray;
           }
           .content-text{
            font-size: 3vw;
            color:white;
           
           }
           .card-style{
               background-color: darkslategrey;
               border-radius: 20px;
               box-shadow: 10px 10px grey;
               opacity: 0.9;
           }
           .rsvp{
            color: maroon;
            text-decoration: none;
            background-color: transparent;
            font-size: 4vw;
            font-style: italic;
           }
        .no-width{
            width: 60px;
       }
        .parallax {
           /* The image used */
            background-image: url("../img/blue_bg.png");
           /* Set a specific height */
            height: 500px;
           /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgb(40, 80, 80);
            transition:1s;
       }
        .custom-control-label::after {
            position: absolute;
            top: .25rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            background-color: teal;
            border-radius: 16px;
       }
        .custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
            color: black;
            font-size: 2vw;
       }
        .btnback{
            left:3%;
            position: absolute;
            color: white;
       }
        .backicon{
            font-size: 4vw;
       }
        .submit-btn{
            margin-top: 30px;
       }
        #headingOne{
            background-image: url("../img/blue_hd.png");
            background-size: cover;
            background-position: center;
            background-color: rgb(40, 80, 80);
            top:0%;
            border-bottom: blue solid 2px;
            position: sticky;
            width: 100%;
       }
        #headingThree{
            padding: 0%;
       }
        h5{
            font-size:3vw;
       }
        .btntext{
            width: 100px;
            height: 80px;
            background: url("../img/down-arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 0.3;
            -webkit-animation-name: btntranform;
            -webkit-animation-duration: 4s;
            animation-name: btntranform;
            animation-duration: 8s;
            background-color: blue;
            border-radius: 20px;
            transition-duration: 4s;
            -webkit-transition-duration: 4s;
       }
        @-webkit-keyframes btntranform {
            0% {
               -webkit-transform: rotateX(-360deg)
           }
            25%{
               -webkit-transform: rotateY(360deg)
           }
            75%{
               -webkit-transform: rotateY(-360deg)
           }
            100% {
               -webkit-transform: rotateX(360deg)
           }
       }
       /* Standard syntax */
        @keyframes btntranform {
            0% {
               transform: rotateX(-360deg);
           }
            25%{
               transform: rotateY(360deg);
           }
            75%{
               transform: rotateY(-360deg);
           }
            100% {
               transform: rotateX(360deg);
           }
       }
        .btn-link, .btn-link:hover, .btn-link:focus{
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
        .splashheader{
            background-image: url("../img/blue_bg.png");
            background-size: cover;
            background-color: darkslategrey;
            border-bottom: solid red 5px;
            color:white;
            font-size: 3vw;
       }
        .eohsplash{
            height: 100%;
            width:100%;
       }
        .dynamicCheckbox{
            display: inline-block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem 1.75rem .375rem .75rem;
            line-height: 1.5;
            color: #495057;
            vertical-align: middle;
            background-size: 8px 10px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            -webkit-appearance: none;
       }
       

}
/*Still needs work*/
@media screen and (min-width:800px) {
   .txtboxez{
    height: 60px;
   }
    .kidlabel{
        font-size: 2vw;
    }
    .content-header{
        font-size: 6vw;
        color:white;
        background-color: dimgray;
       }
       .content-text{
        font-size: 3vw;
        color:white;
       
       }
       .card-style{
           background-color: darkslategrey;
           border-radius: 20px;
           box-shadow: 10px 10px grey;
           opacity: 0.9;
       }
       .rsvp{
        color: maroon;
        text-decoration: none;
        background-color: transparent;
        font-size: 4vw;
        font-style: italic;
       }
    .no-width{
        width: 60px;
   }
    .parallax {
       /* The image used */
        background-image: url("../img/blue_bg.png");
       /* Set a specific height */
        height: 500px;
       /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(40, 80, 80);
        transition:1s;
   }
    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;
        width: 2rem;
        height: 2rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: teal;
        border-radius: 16px;
   }
    .custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
        color: black;
        font-size: 2vw;
   }
    .btnback{
        left:3%;
        position: absolute;
        color: white;
   }
    .backicon{
        font-size: 4vw;
   }
    .submit-btn{
        margin-top: 30px;
   }
    #headingOne{
        background-image: url("../img/blue_hd.png");
        background-size: cover;
        background-position: center;
        background-color: rgb(40, 80, 80);
        top:0%;
        border-bottom: blue solid 2px;
        position: sticky;
        width: 100%;
   }
    #headingThree{
        padding: 0%;
   }
    h5{
        font-size:3vw;
   }
    .btntext{
        width: 100px;
        height: 80px;
        background: url("../img/down-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.3;
        -webkit-animation-name: btntranform;
        -webkit-animation-duration: 4s;
        animation-name: btntranform;
        animation-duration: 8s;
        background-color: blue;
        border-radius: 20px;
        transition-duration: 4s;
        -webkit-transition-duration: 4s;
   }
    @-webkit-keyframes btntranform {
        0% {
           -webkit-transform: rotateX(-360deg)
       }
        25%{
           -webkit-transform: rotateY(360deg)
       }
        75%{
           -webkit-transform: rotateY(-360deg)
       }
        100% {
           -webkit-transform: rotateX(360deg)
       }
   }
   /* Standard syntax */
    @keyframes btntranform {
        0% {
           transform: rotateX(-360deg);
       }
        25%{
           transform: rotateY(360deg);
       }
        75%{
           transform: rotateY(-360deg);
       }
        100% {
           transform: rotateX(360deg);
       }
   }
    .btn-link, .btn-link:hover, .btn-link:focus{
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    .splashheader{
        background-image: url("../img/blue_bg.png");
        background-size: cover;
        background-color: darkslategrey;
        border-bottom: solid red 5px;
        color:white;
        font-size: 3vw;
   }
    .eohsplash{
        height: 100%;
        width:100%;
   }
    .dynamicCheckbox{
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-appearance: none;
   }
   .custom-control-label{
    margin-bottom: 0;
    padding-left: 20px;
   }
}
